# Python
__pycache__/
*.py[cod]
venv/
.env
*.db

# Node
node_modules/
dist/
unpackage/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Sub-project git
food-health-api/.git/
food-health-app/.git/
